- include_stylesheet 'calendar-admin'
= calendar_date_select_includes "silver"

= render :partial => '/admin/calendars/secondary_nav'

%h1 Edit Calendar Event

= render :partial => '/admin/calendars/form'
