- include_stylesheet 'calendar'
- include_stylesheet 'calendar-admin'
= render :partial => '/admin/calendars/assets'
= render :partial => '/admin/calendars/secondary_nav'

#main_calendar
  = main_calendar